# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
Chrome_Data/

# Environment files
.env
.env
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDEs / editors
.vs/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db